<div data-role="footer" data-id="navigasjonsbar" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#hjem" data-icon="home" data-transition="slidefade">Hjem</a></li>
            <li><a href="#leggTil" data-icon="plus" data-transition="slidefade">Legg til</a></li>
            <li><a href="#visAlle" data-icon="grid" data-transition="slidefade">Vis alle</a></li>
            <li><a href="#priss" data-icon="recycle" data-transition="slidefade">Priss</a></li>
        </ul>
    </div>
</div>


