<div data-role="footer" data-id="navigasjonsbar" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#hjem" data-icon="home">Hjem</a></li>
            <li><a href="#leggTil" data-icon="plus">Legg til</a></li>
            <li><a href="#visAlle" data-icon="grid">Vis alle</a></li>
            <li><a href="#priss" data-icon="recycle">Priss</a></li>
        </ul>
    </div>
</div>


