<div data-role="page" id="hjem" class="ui-page-active"  data-theme="b">
    {{> header}}


    <div data-role="main" class="ui-content">
        <p>Dette er hjemsiden</p>

    </div>
    {{> footer}}

</div> 