<div data-role="page" id="hjem" class="ui-page-active"  data-theme="b">
    {{> header}}


    <div data-role="main" class="ui-content">
        <button id="oppdaterHandverkerKnapp" class="ui-btn ui-icon-refresh ui-btn-icon-bottom">Dagens håndverker</button>

        <div>
            <h1 style="text-align: center;">
                <span id="fornavn"></span>
                <span id="etternavn"></span>
                ( <span id="alder"></span> år )
                <br />
                <span id="yrke"></span>
                <br />
                <span id="sted"></span>

            </h1>
        </div>
    </div>
    {{> footer}}

</div> 