<div data-role="page" id="priss" data-theme="b">
    {{> header}}


    <div data-role="main" class="ui-content">
        <div data-role="main" class="ui-content">
            <button id="genererPriss" class="ui-btn">Priss</button>

            <div>
                <h1 style="text-align: center;"><span id="prissTekst"></span></h1>
            </div>

        </div>

    </div>
    {{> footer}}

</div> 